<!-- Contact Section -->
<section class="appoinment-section section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="accordion-section">
          <div class="section-title">
            <h3>FAQ</h3>
          </div>
          <div class="accordion-holder pb-5">
            <div class="accordion" id="accordionGroup" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h4 class="card-title">
                    <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Why choose Homoeopathy?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionGroup">
                  <div class="card-body">
                    Homoeopathy is a holistic system of medicine that treats the individual as a whole, aiming to stimulate the body's innate healing abilities. Unlike conventional medicine, which often focuses on suppressing symptoms, homoeopathy seeks to address the underlying causes of illness and restore balance to the body, mind, and spirit.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h4 class="card-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How does Homoeopathy work?
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionGroup">
                  <div class="card-body">
                    Homoeopathy is believed to work by stimulating the body's vital force to restore balance and health. Remedies are prepared through a process of serial dilution and succussion (vigorous shaking), which is thought to enhance the healing properties of the substance while minimizing any potential toxicity.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h4 class="card-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How long does it take to see results with homeopathy?
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionGroup">
                  <div class="card-body">
                    The timeline for experiencing results with homoeopathy can vary depending on the individual, the condition being treated, and other factors such as overall health and lifestyle. Some people may notice improvements shortly after starting treatment, while others may require longer-term care to see significant changes. Patience and consistent follow-up with a homoeopathic practitioner are key.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingFour">
                  <h4 class="card-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Can we take homeopathic medicines alongside conventional medicine?
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionGroup">
                  <div class="card-body">
                    Yes, it is completely safe and effective to carry on homeopathy alongside conventional medicine.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingFive">
                  <h4 class="card-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                      Is homeopathy effective in acute and long term diseases?
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionGroup">
                  <div class="card-body">
                    Yes. Homeopathy is much advanced now and gives fast results in acute and chronic cases also.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->