<!--footer-main-->
<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5 mb-5 mb-lg-0">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="index.html">
                  <img style="height: 92px;" loading="lazy" class="img-fluid" src="assets/images/shreeji-clinic.png" alt="medic">
                </a>
              </figure>
            </div>
            <p>"Homoeopathy: Gentle Healing, Powerful Results"</p>
          </div>
        </div>
        <div class="col-md-2 mb-3 mb-md-0"></div>
        <div class="col-md-5">
          <ul class="location-link">
            <li class="item">
              <i class="fas fa-map-marker-alt"></i>
              <p>314, Pramukh Tangent, Sargasan Cross Road, Sargasan, Gandhinagar, Gujarat - 382421</p>
            </li>
            <li class="item">
              <i class="far fa-envelope" aria-hidden="true"></i>
              <a href="mailto:divyaprabha1977@gmail.com">
                <p>divyaprabha1977@gmail.com</p>
              </a>
            </li>
            <li class="item">
              <i class="fas fa-phone" aria-hidden="true"></i>
              <p>9898-266-132</p>
            </li>
          </ul>
          <ul class="list-inline social-icons pt-3">
            <li class="list-inline-item"><a href="https://www.youtube.com/@drdivyaprabha" aria-label="youtube" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/dr_divyaprabha" aria-label="instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://wa.me/919898266132" aria-label="whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <p>&copy; Copyright 2024. Designed &amp; Developed by <a href="https://drdivyaprabha.github.io/contact">Dhyani Divyaprabha Patel</a></p>
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--End footer-main-->
