---
layout: page_layout
title: Blog
permalink: /blog
description: Everything about homoeopathy with important keywords
---

<div class="page-wrapper">

  <!--Page Title-->
  <section class="page-title text-center" style="background-image:url(assets/images/background/3.jpg);">
      <div class="container">
          <div class="title-text">
              <h1>Blog</h1>
              <ul class="title-menu clearfix">
                  <li>
                      <a href="index.html">home &nbsp;/</a>
                  </li>
                  <li>Blog</li>
              </ul>
          </div>
      </div>
  </section>
  <!--End Page Title-->

  <!-- Blog Section -->
  <section class="blog-section style-four section">
    <div class="container">
      {% for post in site.posts %}
        <div class="row item-holder">
          <div class="col-md-6 col-sm-12">
            <div class="content-text">
              <a href="{{ post.url }}">
                <h4>{{ post.title }}</h4>
              </a>
              <span>By {{ post.author }} / {{ post.date | date_to_string }}</span>
              <p>{{ post.excerpt }}</p>
              <div class="link-btn">
                <a href="{{ post.url }}" class="btn-style-one">read more</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="image-box">
              {% unless post.youtube %}
                <figure>
                  <a href="{{ post.url }}"><img loading="lazy" class="img-fluid" src="{{ post.cover }}" alt=""></a>
                </figure>
              {% endunless %}
              {% if post.youtube %}
                <figure class="youtube">
                  <iframe src="{{ post.youtube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </figure>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}

      <!--
      <div class="styled-pagination">
        <ul>
          <li><a class="prev" href="blog.html"><span class="fas fa-angle-left" aria-hidden="true"></span></a></li>
          <li><a href="blog.html" class="active">1</a></li>
          <li><a href="blog.html">2</a></li>
          <li><a href="blog.html">3</a></li>
          <li><a class="next" href="blog.html"><span class="fas fa-angle-right" aria-hidden="true"></span></a></li>
        </ul>
      </div>
      -->

      <!--
      <div class="col-lg-3">
        <div class="right-side">
          <div class="text-title">
            <h6>Search</h6>
          </div>
          <div class="search-box">
            <form method="post" action="index.html">
              <div class="input-group">
                <input class="form-control" type="search" name="search" placeholder="Enter to Search" required="" autocomplete="off">
              </div>
            </form>
          </div>
          <div class="categorise-menu">
            <div class="text-title">
              <h6>Categories</h6>
            </div>
            <ul class="categorise-list">
              <li><a href="blog.html">Alumni <span>(20)</span></a></li>
              <li><a href="blog.html">Psycology <span>(4)</span></a></li>
              <li><a href="blog.html">Sonogram <span>(2)</span></a></li>
              <li><a href="blog.html">x-ray <span>(9)</span></a></li>
              <li><a href="blog.html">Dental <span>(2)</span></a></li>
            </ul>
          </div>
          <div class="tag-list">
            <div class="text-title">
              <h6>Tags</h6>
            </div>
            <a href="blog.html">Dental</a>
            <a href="blog.html">Root</a>
            <a href="blog.html">Clean</a>
            <a href="blog.html">Rehabilitation</a>
            <a href="blog.html">Surgery</a>
            <a href="blog.html">Doctor</a>
            <a href="blog.html">Pediatric</a>
          </div>
        </div>
      </div>
      -->
    </div>
  </section>
  <!-- End Blog Section -->

</div>
<!--End pagewrapper-->
